<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>RegistrazioneServlet</servlet-name>
        <servlet-class>control.RegistrazioneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>control.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSessionServlet</servlet-name>
        <servlet-class>control.CheckSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>control.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>control.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AggiungiAlCarrelloServlet</servlet-name>
        <servlet-class>control.AggiungiAlCarrelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrelloServlet</servlet-name>
        <servlet-class>control.CarrelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpzioniServlet</servlet-name>
        <servlet-class>control.OpzioniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailUtility</servlet-name>
        <servlet-class>utils.EmailUtility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfermaOrdineServlet</servlet-name>
        <servlet-class>control.ConfermaOrdineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DebugServlet</servlet-name>
        <servlet-class>control.DebugServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfiloServlet</servlet-name>
        <servlet-class>control.ProfiloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoricoOrdiniServlet</servlet-name>
        <servlet-class>control.StoricoOrdiniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProdotto</servlet-name>
        <servlet-class>control.AddProdottoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProdottoServlet</servlet-name>
        <servlet-class>control.EditProdottoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProdottoServlet</servlet-name>
        <servlet-class>control.DeleteProdottoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrazioneServlet</servlet-name>
        <url-pattern>/RegistrazioneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSessionServlet</servlet-name>
        <url-pattern>/CheckSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AggiungiAlCarrelloServlet</servlet-name>
        <url-pattern>/AggiungiAlCarrelloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrelloServlet</servlet-name>
        <url-pattern>/CarrelloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpzioniServlet</servlet-name>
        <url-pattern>/OpzioniServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailUtility</servlet-name>
        <url-pattern>/EmailUtility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfermaOrdineServlet</servlet-name>
        <url-pattern>/ConfermaOrdineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DebugServlet</servlet-name>
        <url-pattern>/DebugServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfiloServlet</servlet-name>
        <url-pattern>/ProfiloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoricoOrdiniServlet</servlet-name>
        <url-pattern>/StoricoOrdiniServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProdotto</servlet-name>
        <url-pattern>/AddProdotto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProdottoServlet</servlet-name>
        <url-pattern>/EditProdottoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProdottoServlet</servlet-name>
        <url-pattern>/DeleteProdottoServlet</url-pattern>
    </servlet-mapping>
</web-app>
